    <!-- This is a Semantic HTML Change -->
    <nav class="menu">
        <ul>
            <!-- This is an A11y Change  tabindex-->
            <li><a [routerLink]="['/']" tabindex="1">Homepage</a></li>
            <li><a [routerLink]="['/about']" tabindex="2">About</a></li>
            <!-- This is an SEO Change -->
            <li><a [routerLink]="['/login']" rel="nofollow" tabindex="3">Login</a></li>
            <li><a [routerLink]="['/contact']" rel="nofollow" tabindex="3">Contact Us</a></li>
            <li><a href="https://google.com" rel="nofollow" tabindex="4">Google</a></li>
        </ul>
    </nav>
