 <!-- This is an A11y Change -->
 <main class="container center">

    <div class="page-area">

        <!-- This is a Semantic HTML Change -->
        <pb-article
            [title] ="'Stay on track'" 
            [content] = "'Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!'">
        </pb-article>

        <pb-article
        [title] ="'Alerts'" 
        [content] = "'What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.'">
        </pb-article>

        <pb-article
        [title] ="'Results'" 
        [content] = "' People who stick to a financial plan, budgeting every expense, get out of debt faster!
                        Also, they to live happier lives... since they expend without guilt or fear... 
                        because they know it is all good and accounted for.'">
        </pb-article>

        <pb-article
        [title] ="'Free'" 
        [content] = "'This app is free!!! And you are the only one holding your data!'">
        </pb-article>
        
        <pb-article
        [title] ="'Stay on track'" 
        [content] = "'Do you know where you are spending your money? If you really stop to track it down,
            you would get surprised! Proper budget management depends on real data... and this
            app will help you with that!'">
        </pb-article>

        <pb-article
        [title] ="'Alerts'" 
        [content] = "'What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.'">
        </pb-article>

        <pb-article
        [title] ="'Results'" 
        [content] = "' People who stick to a financial plan, budgeting every expense, get out of debt faster!
                        Also, they to live happier lives... since they expend without guilt or fear... 
                        because they know it is all good and accounted for.'">
        </pb-article>

        <pb-article
        [title] ="'Free'" 
        [content] = "'This app is free!!! And you are the only one holding your data!'">
        </pb-article>

        <article>
            <h1>My Budget</h1>
            <canvas id="budgetChart" height="400" width="400"></canvas>
        </article>
        


    </div>

    <div class="d3container">
        <h1>D3 Budget</h1>
        <div id="d3Chart"></div>
    </div>


</main>